/* font-family: 'Playfair Display', serif; */

*{
    padding: 0;
    margin: 0;
}
/* header part css start here  */
header{

width: 90%;

overflow: hidden;

margin: auto;

margin-top: 40px;
}
.logo{
    width: 20%;
    float: left;

}
nav{
    width: 50%;
    float: right;
}
nav ul{

list-style: none;
}
nav ul li{
    float: left;
    margin-left: 83px;
    color: #626262;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}
/* header part css end here  */

.banner{
    
width: 90%;
    
margin: auto;
}
.banner img{
    width: 100%;
}